body {
    //background: rgb(236, 134, 59);
    background: #FFB75E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

$container-width: 19rem;

.calculator {
    display: grid;
    grid: repeat(7,1fr) / repeat(4, 1fr);
    overflow: hidden;
    width: $container-width;
    height: 1.75 * $container-width;
    border-radius: 15px;
    background: rgb(38,38,38);
    box-shadow: 3px 3px 7px  rgba(0, 0, 0, 0.8), -1px 3px 5px rgba(0, 0, 0, 0.8);
    
    margin: auto;
    margin-top: 10vh;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 100;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        background: rgb(38,38,38);
        border: 1px rgb(44, 44, 44) solid;
        margin: 7px;
        border-radius: 50%;
        box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.6);
    }

    &__num {
        color: white;
    }

    &:not(&__num) {
        color: rgb(231, 135, 63);
    }
}

#display1, #display2 {
    padding: 9px;
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    -webkit-user-select: text; 
    -moz-user-select: text; 
    user-select: text;
}

#display1 {
    color: white;
    font-size: 2.4rem;
}

#display2 {
    color: rgb(154, 154, 154);
    font-size: 1.4rem;
}

.calculator__operator {
    font-size: 2rem;
}

#ac,
#percentage,
#sign {
    color: rgb(154, 154, 154);
}

#dot,
#backspace {
    color: white;
}

.clicked {
    background: rgb(33,33,33);
    transform: translateY(3px);
}
